{% extends 'UvmediaCoreBundle::layout.html.twig' %}
{% form_theme form 'UvmediaCoreBundle:Form:fields.html.twig' %}
{% block body_content %}
<div>
    <form method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div>{{ form_label(form.nombres, 'Nombres') }} {{ form_widget(form.nombres) }}</div>
        <div>{{ form_label(form.apellidos, 'Apellidos') }} {{ form_widget(form.apellidos) }}</div>
        <div>{{ form_label(form.email, 'Correo Electrónico') }} {{ form_widget(form.email) }}</div>
        <div>{{ form_label(form.login, 'Nombre de Usuario') }} {{ form_widget(form.login) }}</div>
        <div>{{ form_label(form.contrasenha, 'Contraseña') }} {{ form_widget(form.contrasenha) }}</div>
        <div>{{ form_label(form.confirm, 'Confirmar Contraseña') }} {{ form_widget(form.confirm) }}</div>
        <div>{{ form_label(form.grupos, 'Grupos a los que pertenece') }} {{ form_widget(form.grupos, { required : false }) }}</div>
        <div><button type="submit">{{ accion }}</button><a href="{{ path('UsuariosBundle_homepage') }}">Cancelar</a></div>
        {{ form_rest(form) }}
    </form>
</div>
{% endblock %}