{% extends 'UvmediaCoreBundle::core.html.twig' %}
{% block title %}{{ parent() }} - {{ titulo }}{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}{{ parent() }}
<link href="{{ asset('bundles/uvmediacore/css/main.css') }}" type="text/css" rel="stylesheet" />
<!-- Hack para hacer la pagina compatible con IE7 -->
<!--[if IE7]>
<link href="{{ asset('bundles/uvmediacore/css/main.ie7.css') }}" type="text/css" rel="stylesheet" />
<![endif]-->
{% endblock %}
{% block body %}
<div id="cuerpo">
{{ parent() }}
<div id="contenido">
    <div id="mensaje"></div>
    <div>{{ contenido }}</div>
</div>
</div>
{% endblock %}