{% extends 'UvmediaCoreBundle::core.html.twig' %}
{% block title %}{{ parent() }} - {{ titulo }}{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}{{ parent() }}
<link href="{{ asset('bundles/uvmediacore/css/main.css') }}" type="text/css" rel="stylesheet" />
<!-- Hack para hacer la pagina compatible con IE7 -->
<!--[if IE7]>
<link href="{{ asset('bundles/uvmediacore/css/main.ie7.css') }}" type="text/css" rel="stylesheet" />
<![endif]-->
{% endblock %}
{% block body %}
<div id="cuerpo">
    {% block menu %}
    <div id="menu">
        <ul class="menu">
        {% for item_menu in menu %}
            <li class="menu_normal">
                <a href="{{ item_menu.meiEnlace }}">{{ item_menu.meiNombre }}</a>
                {% if item_menu.meiChildren %}
                <ul class="submenu">
                {% for item_menu_hijo in item_menu.meiChildren %}
                    <li>
                        <a href="{{ item_menu_hijo.meiEnlace }}">{{ item_menu_hijo.meiNombre }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <div style="clear: both"></div>
    </div>
    {% endblock %}
<div id="contenido">
    <div id="mensaje"></div>
    <div>
        <h4>Indice de Modulos</h4>
        <ul>
            <li><a href="{{ path('MenuBundle_homepage') }}">Gesti&oacute;n de Men&uacute;es</a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}