{% extends 'UvmediaCoreBundle::core.html.twig' %}
{% block title %}{{ parent() }} - {{ titulo }}{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}{{ parent() }}
<link href="{{ asset('bundles/uvmediacore/css/main.css') }}" type="text/css" rel="stylesheet" />
<!-- Hack para hacer la pagina compatible con IE7 -->
<!--[if IE7]>
<link href="{{ asset('bundles/uvmediacore/css/main.ie7.css') }}" type="text/css" rel="stylesheet" />
<![endif]-->
{% endblock %}
{% block body %}
<div id="cuerpo">
    {% block menu %}
    {% include 'MenuBundle::menu.html.twig' %}
    {% endblock %}
<div id="contenido">
    <div id="mensaje"></div>
    <div>
        <h4>Indice de Modulos</h4>
        <ul>
            <li><a href="{{ path('MenuBundle_homepage') }}">Gesti&oacute;n de Men&uacute;es</a></li>
            <li><a href="{{ path('UsuariosBundle_homepage') }}">Gesti&oacute;n de Usuarios</a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}