{% extends 'UvmediaCoreBundle::core.html.twig' %}
{% block title %}{{ parent() }} - {{ titulo }}{% endblock %}
{% block javascripts %}

{% endblock %}
{% block stylesheets %}{{ parent() }}
<link href="{{ asset('bundles/uvmediacore/css/main.css') }}" type="text/css" rel="stylesheet" />
<!-- Hack para hacer la pagina compatible con IE7 -->
<!--[if IE7]>
<link href="{{ asset('bundles/uvmediacore/css/main.ie7.css') }}" type="text/css" rel="stylesheet" />
<![endif]-->
{% endblock %}
{% block body %}

<div id="cuerpo">
<div id="menu">
    <ul>
        <li>It 1</li>
        <li>It 2</li>
        <li>It 3</li>
    </ul>
    <div style="clear: both"></div>
</div>
<div id="contenido">
    <div id="mensaje"></div>
</div>
</div>
<div id="pie">
    <p>&copy;2011 Universidad del Valle. Todos los derechos reservados</p>
    <p>Desarrollado por UVMEDIA</p>
</div>
{% endblock %}